################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/WebApplication2/.vs
/WebApplication2/bin
/WebApplication2/obj
